.near-bottom {
  position: absolute;
  bottom: 1%;
  padding-left: 1%;
}

// Perhaps there is a better way, but this centers the button on the screen.
.scan-code-button {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

ion-img {
  height: 30px;
}