<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Code Attendance App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      Hi, {{firstName}}. How are you? Good to see you.
    </ion-item>
    <ion-item>
      <ion-label>Course</ion-label>
      <ion-select placeholder="Select course" (ionChange)="setCourse($event)">
        <ion-select-option *ngFor="let course of courses" [value]="course">
          {{course}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button [disabled]="isScanBtnDisabled" (click)="scanCode()">Scan</ion-button>
    </ion-item>
    <ion-item>
      <ion-text>For debugging: {{ scannedCode }} </ion-text>
    </ion-item>
    <div *ngIf="scannedCode">
      <ion-item>
        Got the secret code.
      </ion-item>
      <ion-item>
        <ion-label>Enter notes:</ion-label>
        <ion-textarea [(ngModel)]="notes">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button (click)="submit()">
          Submit
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>