<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Code Attendance App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      Hi, {{firstName}}. How are you? Good to see you.
    </ion-item>
    <ion-item>
      <ion-label>Course</ion-label>
      <ion-select placeholder="Select course" (ionChange)="setCourse($event)">
        <ion-select-option *ngFor="let course of courses" [value]="course">
          {{course}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button class="scan-code-button" expand="block" [disabled]="isScanBtnDisabled" (click)="scanCode()">
        Scan Projected QR Code
      </ion-button>
    </ion-item>
    <div *ngIf="scannedCode">
      <ion-item>
        Got the secret code for this meeting.
      </ion-item>
      <ion-item>
        <ion-label>Enter notes:</ion-label>
        <ion-textarea [(ngModel)]="notes">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button (click)="submit()">
          Submit
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
  <ion-note class="near-bottom">Copyright 2020, Victor Norman, <br />
    Calvin University, Version <span class="secret" (click)="clearRegistrationInfo()">{{version}}</span>
  </ion-note>
</ion-content>